*{
  border: 0;
  font-family: "Pixelify Sans", sans-serif;
}
body {
  background-image: url("https://kartinki.pics/uploads/posts/2021-07/1627408186_14-kartinkin-com-p-pikselnie-teksturi-zemli-krasivo-17.png");
}
.counter-container {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://bogatyr.club/uploads/posts/2023-07/1688579882_bogatyr-club-p-tekstura-pikselnoi-travi-foni-instagram-12.png");
}

.count {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  font-size: 14px;
  background-color: #5fc717;
  color: #fff;
  border-radius: 4px;
  border: dashed;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 10px;
}

button:hover {
  background-color: #46960e;
  transform: scale(1.1);
  border-color: #000000;
  transition: 200ms;
  color: black;


}
